// Place all the styles related to the surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type=range] {
  display: inline;
  width: 95%;
}

.errors {
  color: red;
}

.required {
  color: red;
  font-size: 20px;
}

.count {
  font-weight: bold;
}
